.borderButton {
  height: 40px;
  border-radius: 5px;
  padding: 10px 20px;
  color: #0e86d4;
  background-color: #ffffff;
  border: 2px solid #0e86d4;
}

.borderButton:hover {
  background-color: #0e86d4;
  color: #ffffff;
  cursor: pointer;
}
