.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 8px 15px;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 72px;
  width: 72px;
}

.title {
  font-weight: 900;
}
