.nav {
  width: 100%;
  height: 100%;
}

.sectionContainer {
  display: inline-block;
  position: relative;
}

.section {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  font-weight: 500;
}

.section:hover {
  color: #0e86d4;
}

.window {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 15px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.icon {
  color: #0e86d4;
  font-size: 18px;
  transition: transform 0.1s ease-in-out;
}

.section:hover .icon {
  transform: rotate(90deg);
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* menu cliquable */
}
