.section {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  transition: color 0.3s ease;
}

.section:hover {
  color: #0e86d4;
  cursor: pointer;
}

.icon {
  color: #0e86d4;
  font-size: 18px;
  transition: transform 0.1s ease-in-out;
}

.section:hover .icon {
  transform: rotate(90deg);
}

.window {
  display: flex;
  padding: 25px;
  border-radius: 20px;
  background-color: aquamarine;
}
