.container {
  display: flex;
  align-items: center;
  text-wrap-mode: nowrap;
  gap: 10px;
}

.containerImage {
  background-color: #68bbe3;
  padding: 20px;
  border-radius: 20px;
}

.image {
  height: 60px;
  width: 60px;
}
