.container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 calc(33.333% - 1rem);
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

.containerImage {
  background-color: #68bbe3;
  padding: 20px;
  border-radius: 20px;
}

.image {
  height: 60px;
  width: 60px;
}
